.more-detail {
    max-width: 100%;
    background: linear-gradient(to left bottom, rgb(169, 243, 191), rgb(135, 194, 135));
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.more-detail-head {
    align-self: self-start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: cursive;
    text-shadow: 0px 1px 1px rgb(3, 3, 3);
    max-width: 95%;
}

.more-detail-img {
    max-height: 100%;
    width: 100%;
    text-align: center;
}

.more-detail-img img {
    max-width: 80%;
    height: 50%;

}

.more-detail-prepare {
    max-width: 100%;
    margin-top: 10px
}

.more-detail-prepare {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: cursive;
    line-height: 30px;
}

.more-detail-prepare p {
    max-width: 95%;

}

.more-detail-ingrediants {
    align-self: self-start;
    max-width: 95%;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: cursive;

}

.more-detail-youtube {
    width: 100%;
    min-height: 400px;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: cursive;
    text-shadow: 0px 1px 1px rgb(3, 3, 3);
    text-align: center;
}